.page-description {
    color: gray;

    div{
        display: flex;
        flex-direction: column;
    }

    a{
        margin-bottom: 8px;
        
    }
}

.page-title {
    margin-bottom: 10px;
}

.page-title-container {
    margin-bottom: 50px;
}