.crm-page {
    background: #f8f8f8;
    width: 75%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 30px;
    position: relative;
    left: 70px

}

div {
    white-space: pre-wrap;
}

.page-container {
    min-height: 100vh;
    background: #f8f8f8;
    display: flex;
}
.status-icon {
    color: #63b67f;
    margin-left: 20px;
}

.trash-icon {
    color: rgba(255, 0, 0, 0.527); 
}

.edit-icon{
    color: #8a8a8a;
}

.download-icon {
    color: #52719c;
}

.link-table {
    color: #577399;
}

.table-actions-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.just-one-item {
    justify-content: flex-end;
    margin-bottom: 5px;
}

.add-project-container {
    border: 0.660428px solid #DFE0EB;
    padding: 30px;
    background-color: white;
}


.chart {
    border: 0.660428px solid #DFE0EB;
    border-radius: 5.28342px;
    padding: 35px;
    margin: 14px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

