.table th, .table td{  
    text-align: left;
    padding: 15px;
}

.table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 15px;
    border-top: 0;
    margin-top: -15px;

  } 

  .table tr {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 40px;
    background-color: white;
    // margin-bottom: 20px;
  }

  .table tbody tr:hover{
    background-color: #f8f8f8a8;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 6px 12px 2px;
  }


  .table th {
    padding:20px;
    background-color: #d4e6f7;
  }


  .card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }


  .sticky th{
    position: sticky;
    top: 0px;
  }

  .table-container {
    .empty-msg {
      display: flex;
      justify-content: space-around;

      h3 {
        color: rgb(124, 124, 124);
        font-weight: normal;
      }
    }
  }
 
  .action-icons {
    span {
      cursor:'pointer'; 
      &:not(:last-child){
        margin-right: 5px;
      }
    }
  }

  .icon-box {
    display: flex;
  }

 